html {
    background: url(../images/AdobeStock_256640090.jpeg) no-repeat center center fixed;
    background-size: cover;
}
h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    margin-top: 80px;
}
